NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=andes-estate-prd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=andes-estate-prd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=andes-estate-prd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=180332094092
NEXT_PUBLIC_FIREBASE_APP_ID=1:180332094092:web:61ddfbd84e50032ec211a9
